*{
    box-sizing: borde-box;
    padding: 0;
    margin:0
}
.wrap {
    width:70%;
    margin: 0 auto;
    
}
#root {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:50px;
    padding:10px;
    background-color: rgb(218, 252, 218);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

li{
    font-size: 24px;
    line-height:30px;
    padding: 10px;
    cursor:pointer;
    list-style:none;
}
.active {
    text-decoration: line-through;
}



.fa-window-close{
    cursor:pointer;
    color: red;
    margin-right: 20px;
}
/* .fa-check-circle {
    display: none;
   
}

.visible {
    display: inline;
    color: green;
    cursor:pointer;
} */

p{
    font-size: 24px;
    padding: 10px;
}

input {
    margin:10px;
    width:400px;
    line-height:30px;
    border-color: lightgreen;
}

button {
    width: 100px;
    padding:5px;
    background-color: green;
    border: 1px solid green;
    color: white;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
}
button:hover {
    background-color: rgb(95, 209, 95);
    border-color: rgb(95, 209, 95);;
    color: black;
    cursor:pointer;
}